/* Indigo Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #3949ab;
    --primary-hover: #303f9f;
    --primary-focus: rgba(57, 73, 171, 0.125);
    --primary-inverse: #FFF;
}

/* Indigo Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --primary: #3949ab;
        --primary-hover: #3f51b5;
        --primary-focus: rgba(57, 73, 171, 0.25);
        --primary-inverse: #FFF;
    }
}

/* Indigo Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --primary: #3949ab;
    --primary-hover: #3f51b5;
    --primary-focus: rgba(57, 73, 171, 0.25);
    --primary-inverse: #FFF;
}

body {
    position: fixed;
    overflow: hidden;
    width: 100%;
}

/* Indigo (Common styles) */
:root {
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
    font-family: 'Ruda', sans-serif;
}

h2 {
    font-family: 'Ruda', sans-serif;
}

.main-app {
    height: calc(100vh + 30px);
}

.options {
    margin-bottom: -20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

#editorJson {
    border-radius: 1%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80%;
    margin-top: -5%;
}

#editorVlang {
    border-radius: 1%;
    align-self: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80%;
    margin-top: -5%;
}